* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*----------------------------------------------body*------------------------------------------------*/

body {
    min-height: 100vh;
    width: 100%;
    background-color: #3333;
}

/* -------------------------------------------------nav------------------------------------------ */

/* img logo */
.logo {
    width: 10rem;
}

#navbar {
    background: linear-gradient(to right, #1a1919 10%, #7A2F3A 50%, #8E0000 100%);
}

:root {
    --home-button: #f9136f;
}


#navbarNav ul li {
    background-color: #171717;
}

#navbarNav ul li a {
    color: white;
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, .2);
    transition: .2s;
    font-size: small;
}

#navbarNav ul:hover a {
    filter: blur(2px);
}

#navbarNav ul li a:hover {
    transition: translateY(-3px) scale(1.05);
    box-shadow: 0px 5px 5px 0px red;
    filter: none;
}

#active {
    background-color: rgb(234, 25, 122);
}

#navbarNav ul li .home-button:hover {
    background: var(--home-button);
}

#navbarNav ul li .up-button:hover {
    background: var(--home-button);
}

#navbarNav ul li .past-button:hover {
    background: var(--home-button);
}

#navbarNav ul li .con-button:hover {
    background: var(--home-button);
}

#navbarNav ul li .stats-button:hover {
    background: var(--home-button);
}

/*----------------------------------------------header------------------------------------------- */

header {
    min-height: 10vh;
    background: linear-gradient(to right, #a01304 0%, #902749 50%, #cb036a 100%);
    /* background: linear-gradient(to right, #0e0e0e 0%, #180f14 50%, #AD0E0E 100%); */
}

#form-checkbox {
    /* background-color: #0000008d; */
    align-items: center;
    border-radius: 1rem;
}

.form-check-label {
    /* background-color: #3b5999; */
    padding-right: 1rem;


}

.form-check-label:hover {
    /* color: #f952a6; */
    border: 3px solid rgb(210, 32, 124);
    background-color: #6a050588;
    border-radius: 1rem;
    padding-left: .9rem;
}

.form-check-input[type="checkbox"]:checked+label {
    border: 3px solid rgb(210, 32, 124);
    border-radius: 1rem;
    padding-left: .9rem;
    text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #fb0fc0, 0 0 30px #ff008c, 0 0 40px #ff00d4, 0 0 55px #ff00c8, 0 0 75px #ff02c8;
    font-size: 1.2rem;
}



/* TABLE */

td {
    color: white;
}

#table {
    width: 70%;
}

/* BANER */

.baner {
    width: 100%;
    height: 10rem;
}

/* search */

.search {
    width: 20rem;
    height: 2rem;
    background-color: white;
    border-radius: 2rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0.5rem;
}

.search>i {
    color: #777;
}

.search>input {
    flex: 1;
    height: 2rem;
    border-radius: .5rem;
    border: none;
    outline: none;

}


/*--------------------------------------------------main------------------------------------- */

#main {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom, #320000 0%, #761d33 50%, #9a0214 100%);
}

/* card */

#cards2,
#cards3,
#cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.card {
    position: relative;
    overflow: hidden;
    width: 18rem;
    min-height: 25rem;
    margin: 12px;
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-text {
    flex-grow: 1;
}

.text-center {
    text-align: center;
}

.img {
    height: 10rem;
    width: 19rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.card:hover {
    transform: scale(1.02);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

.card:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background: inherit;
    filter: blur(8px);
    opacity: 0.7;
    transition: opacity 0.3s ease;
}

.card:hover:before {
    opacity: 0.9;
}

label {
    color: white;
}

/*  DETAILS*/

#detail {
    background-color: #d038727d;
    color: rgb(245, 245, 245);
    padding: 1.5rem;
    border-radius: 2.5rem;
}

.img-da {
    width: 65%;
    height: 30rem;
    object-fit: cover;
    border-radius: 1rem;
}

/* .descri {
    width: 70%;
} */

.conteiner {
    /* justify-content: center; */
    /* background-color: #55acee; */
    align-items: center;

}


.texto-details {
    color: #f46fd5;
    font-size: 1.2rem;
}


.ul-datails li {
    /* background-color: #3b5999; */
    width: 100%;
    height: 3rem;
}

.h2-datails {
    text-align: center;
}

/*  */

#form {
    background-color: #c108366c;
    border-radius: 1rem;
    width: 35rem;
    padding: 1rem;
}

.form-control {
    height: 4rem;
}


/*---------------------------------------------------footer--------------------------------------------------- */

footer {
    background: linear-gradient(to right, #4E0000 0%, #370713 50%, #6F0E19 100%);
    padding-right: 3rem;
    color: white;
}

.f-p {
    min-width: 10%;
}

/* iconos */
:root {
    --facebook: #3b5999;
    --instagram: #e4405f;
    --twitter: #55acee;
}

.container-redes {
    margin-top: 1rem;
}

.container-redes ul li {
    background-color: #171717;
    width: 2rem;
    height: 2rem;
}

.container-redes ul li a {
    color: white;
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, .2);
    transition: .2s;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2rem;
    height: 2rem;
    text-decoration: none;
}

.container-redes ul:hover a {
    filter: blur(2px);
}

.container-redes ul li a:hover {
    transition: translateY(-3px) scale(1.05);
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, .4);
    filter: none;
}

.container-redes ul li .facebook:hover {
    background: var(--facebook);
}

.container-redes ul li .instagram:hover {
    background: var(--instagram);
}

.container-redes ul li .twitter:hover {
    background: var(--twitter);
}

/* -----------------------------------------------------mediaque-------------------------------------- */
@media screen and (max-width: 1500px) {
    html {
        font-size: 11.5px;
    }

}


@media screen and (min-width: 601px) and (max-width: 790px) {
    html {
        font-size: 10px;
    }

    .nav {
        flex-direction: column;
        align-items: center;
    }

    /* search */

    .search {
        width: 50%;
    }

    /* CHECKBOX */
    #form-checkbox {
        display: flex;
        justify-content: center;
        width: 100%;
        padding-bottom: 1rem;
    }

    .form-check-label {
        background-color: #6e0909;
        border: 1px solid #bc5826;
        border-radius: 1rem;
        transition: .2s all ease;
        padding: 4px 6px;
        font-size: 1.2rem;
    }

    .form-check-label:hover {
        border: 3px solid rgb(217, 8, 8);
    }

    .form-check-input[type="checkbox"]:checked+label {
        border: 3px solid rgb(210, 32, 124);
        background: rgb(164, 9, 81);
    }

    .form-check-input[type="checkbox"] {
        opacity: 0;
    }
}



@media screen and (max-width: 600px) {
    html {
        font-size: 9.5px;
    }

    .nav {
        flex-direction: column;
        align-items: center;
    }

    /* details */
    #detail {
        width: 35rem;
    }
    
    .conteiner {
        flex-direction: column;
    }

    .img-da {
        width: 100%;
        height: 15rem;
    }

    .ul-datails {
        background-color: #1a19196a;
        border-radius: 1rem;
    }

    .ul-datails li {
        /* background-color: #3b5999; */
        height: 3rem;
    }

    /* search */

    .search {
        width: 35rem;
    }

    /* CHECKBOX */
    #form-checkbox {
        /* background-color: #46091993;
        width: 100%; */
        flex-direction: column;
        padding-bottom: 1rem;
    }

    .form-check-label {
        background-color: #6e0909;
        border: 1px solid #bc5826;
        border-radius: 1rem;
        transition: .2s all ease;
        padding: 4px 6px;
        display: flex;
        justify-content: center;
        font-size: 1.2rem;
        width: 40rem;

        /* display: flex; */
    }

    .form-check-label:hover {
        border: 3px solid rgb(217, 8, 8);
    }

    .form-check-input[type="checkbox"]:checked+label {
        border: 3px solid rgb(210, 32, 124);
        background: rgb(164, 9, 81);
    }

    .form-check-input[type="checkbox"] {
        opacity: 0;
    }
}

@media screen and (max-width: 420px) {
    html {
        font-size: 9px;
    }

    /* details */


    .img-da {
        width: 80%;
        height: 13rem;
    }


    /* search */

    .search {
        width: 20rem;
    }

    /* CHECKBOX */

    .form-check-label {
        width: 25rem;
    }
}